<launch>
	<arg name="Vel" default="12.0" />
	<arg name="xdel" default="0.0" />
	<arg name="tol" default="0.0" />
	
       
        <param name="/mavros/param/MPC_XY_VEL_MAX" value="$(arg Vel)"/>
        <param name="pad_to_target_xdelta" value="$(arg xdel)"/>
        <param name="target_tolerance" value="$(arg tol)"/>
	
	<node name="percise_landing" pkg="mavros_fly" type="mavros_fly_lander" output="screen"/>

</launch>
